<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mybatis-config.properties">
        <property name="username" value="root"/>
        <property name="password" value="jianglei"/>
    </properties>


    <typeAliases>
        <typeAlias alias="Blog" type="com.jianglei.example.Blog"/>
        <package name="com.jianglei.example.bean"/>
    </typeAliases>
    <environments default="prod">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <environment id="prod">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="jdbc:mysql://localhost:3306/prod"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/jianglei/example/BlogMapper.xml"/>
        <mapper class="com.jianglei.example.BlogMapper"/>
        <package name="com.jianglei.example.mapper"/>
    </mappers>
</configuration>